<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="window.css">
    <link rel="stylesheet" href="../buttons/word-button/word-button.css">
    <script src="window.js" type="module" defer></script>
    <title>Window Component</title>
</head>

<body style="display: flex;
align-items: center; justify-content: center; height: 100dvh;">
    <div class="box" style="border: 2px solid black; width: 500px;height: 800px; padding: 10px; display: flex;
    flex-direction: column; gap: 30px; overflow-y: auto;">
        <div class="comp window-component expanded" id="window-name">
            <div class="title select-none cursor-default">
                <span class="text">Item Title</span>
                <button type="button" class="comp word-button btn">
                    <span class="action" id="action-name">
                        see all
                    </span>
                    <span class="arrow">&gt;</span>
                </button>
            </div>
            <section id="content">
                <div class="content-container">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum autem aliquid delectus
                        facere? Magni est et, nemo eius officia, enim, consequatur animi deleniti excepturi quis qui
                        sequi voluptatem ex!
                    </p>
                </div>
            </section>
        </div>
        <div class="comp window-component type-2 expanded" id="window-name">
            <div class="title select-none cursor-default">
                <span class="text">Item Title</span>
                <button type="button" class="comp word-button btn">
                    <span class="action" id="action-name">
                        see all
                    </span>
                    <span class="arrow">&gt;</span>
                </button>
            </div>
            <section id="content">
                <div class="content-container">
                    <div id="keys-status">
                        <p class="select-none cursor-default" id="status-msg">
                            Status: <span id="status">Creating account</span>...
                        </p>
                        <p class="select-none cursor-default" id="tip-msg">
                            <span class="tip" id="tip-1">- ctrl + q to cancel/back</span>
                            <span class="tip" id="tip-2">- ctrl + r to reset</span>
                            <span class="tip" id="tip-3">- enter to proceed/confirm</span>
                        </p>
                    </div>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum autem aliquid delectus
                        facere? Magni est et, nemo eius officia, enim, consequatur animi deleniti excepturi quis qui
                        sequi voluptatem ex!
                    </p>
                    <p class="select-none cursor-default" id="bottom-msg">What the hell</p>
                </div>
            </section>
        </div>
        <div class="comp window-component type-3 unexpanded" id="window-name">
            <div class="title select-none cursor-default">
                <span class="text">Item Title</span>
                <button type="button" class="comp word-button btn">
                    <span class="action" id="action-name">
                        see all
                    </span>
                    <span class="arrow">&gt;</span>
                </button>
            </div>
        </div>
        <div class="comp window-component type-4 expanded" id="window-name">
            <div class="title select-none cursor-default">
                <span class="text">Item Title</span>
                <button type="button" class="comp word-button btn">
                    <span class="action" id="action-name">
                        see all
                    </span>
                    <span class="arrow">&gt;</span>
                </button>
            </div>
            <section id="content" style="height: 400px;">
                <div class="content-container">
                    <div id="empty-visual">
                        <div id="visual">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill=""
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_90_929)">
                                    <path
                                        d="M25 23.3333L24.805 23.345C24.433 23.3889 24.0866 23.5568 23.8217 23.8217C23.5568 24.0866 23.3889 24.433 23.345 24.805L23.3333 25V35H6.66333C6.22336 35.0009 5.80103 34.8271 5.48915 34.5167C5.17726 34.2064 5.00132 33.785 5 33.345V6.655C5 5.74167 5.74167 5 6.655 5H33.345C34.2583 5 35 5.745 35 6.665V23.3333H25ZM35 26.6667L26.6667 34.995V26.6667H35Z"
                                        fill="" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_90_929">
                                        <rect width="40" height="40" fill="" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p id="message">
                            this is an empty visual
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script type="module">
        // import Finestra from './window.js';
    </script>
</body>

</html>