#overlay {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--trans-q);
    opacity: 0;
    z-index: 50;
}

#overlay .window-component {
    transform: scale(0.1);
}

#overlay.shown {
    opacity: 1;
}

#overlay.shown .window-component {
    transform: none;
}

.window-component {
    width: 100%;
    max-width: 350px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    transition: var(--trans-q);
}

.window-component>.title {
    background-color: var(--accent-color-2);
    border: 2px solid var(--black);
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.window-component>.title>.action-text {
    transition-property: letter-spacing, opacity;
    transition-duration: var(--trans-q), var(--trans-q);
    transition-delay: 0s var(--trans-q);
    letter-spacing: -5px;
    opacity: 0;
}

.window-component>.title>.action-text.show {
    letter-spacing: 0px;
    opacity: 1;
}

.window-component>.title>.action-icon {
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    transition: var(--trans-q);
}

.window-component>.title>.action-icon.hide {
    transform: rotate(135deg);
    opacity: 0;
}

.window-component.expanded>#content {
    background-color: var(--accent-color-1);
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.window-component.expanded>#content::selection {
    background-color: var(--black);
    color: var(--accent-color-1);
}

.window-component>#content>.content-container {
    flex-grow: 1;
    flex-basis: 100%;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.window-component>#content>.content-container>#empty-visual {
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.window-component>#content>.content-container>#empty-visual>#message {
    width: calc(100% - 20px);
    text-align: center;
}

.window-component>#content>.content-container>#empty-visual>#visual>svg {
    aspect-ratio: 1;
    fill: var(--primary-color);
    height: 80px;
    width: 80px;
    stroke: var(--black);
}

.window-component>#content>.content-container>#keys-status>#tip-msg {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
}

.window-component>#content>.content-container>#keys-status>#tip-msg>.tip {
    font-size: var(--fn-sm);
}

.window-component>#content>.content-container>#bottom-msg {
    font-size: var(--fn-sm);
    margin-top: auto;
    padding-top: 20px;
    opacity: 0.5;
}

.window-component>#content>.actions {
    flex-shrink: 0;

    background-color: var(--accent-color-2);
    border-top: 2px solid var(--black);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}