<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="window.css">
    <link rel="stylesheet" href="../buttons/word-button/word-button.css">
    <script src="window.js" type="module" defer></script>
    <title>Window Component</title>
</head>

<body style="display: flex;
align-items: center; justify-content: center; height: 100dvh;">
    <div id="button-box" style="display: flex; flex-direction: column;">
        <button type="button" id="expandable">Make expandable</button>
        <button type="button" id="unexpandable">Make unexpandable</button>
        <button type="button" id="expandable-action">Make expandable action</button>
        <button type="button" id="unexpandable-action">Make unexpandable action</button>
    </div>
    <div class="box" style="border: 2px solid black; width: 500px;height: 800px; padding: 10px; display: flex;
    flex-direction: column; gap: 30px; overflow-y: auto;">
        <div class="comp window-component type-1" id="window-name">
            <div type="button" class="title select-none cursor-default">
                <span class="text">Item Title</span>
                <button type="button" class="comp word-button btn">
                    <span class="action" id="action-name">
                        see all
                    </span>
                    <span class="arrow">&gt;</span>
                </button>
            </div>
            <section id="content">
                <div class="content-container">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum autem aliquid delectus
                        facere? Magni est et, nemo eius officia, enim, consequatur animi deleniti excepturi quis qui
                        sequi voluptatem ex!
                    </p>
                </div>
            </section>
        </div>
        <div class="comp window-component type-2" id="window-name">
            <button type="button" class="btn title">
                <span class="text">Item Title</span><span class="action-text">close</span><span
                    class="action-icon">&gt;</span>
            </button>
            <section id="content">
                <div class="content-container">
                    <div id="keys-status">
                        <p class="select-none cursor-default" id="status-msg">
                            Status: <span id="status">Creating account</span>...
                        </p>
                        <p class="select-none cursor-default" id="tip-msg">
                            <span class="tip" id="tip-1">- ctrl + q to cancel/back</span>
                            <span class="tip" id="tip-2">- ctrl + r to reset</span>
                            <span class="tip" id="tip-3">- enter to proceed/confirm</span>
                        </p>
                    </div>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum autem aliquid delectus
                        facere? Magni est et, nemo eius officia, enim, consequatur animi deleniti excepturi quis qui
                        sequi voluptatem ex!
                    </p>
                    <p class="select-none cursor-default" id="bottom-msg">What the hell</p>
                </div>
            </section>
        </div>
        <div class="comp window-component type-3" id="window-name">
            <button type="button" class="btn title">
                <span class="text">Item Title</span><span class="action-text">close</span><span
                    class="action-icon">&gt;</span>
            </button>
            <section id="content">
                <div class="content-container">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum autem aliquid delectus
                        facere? Magni est et, nemo eius officia, enim, consequatur animi deleniti excepturi quis qui
                        sequi voluptatem ex!
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis cum autem aliquid delectus
                        facere? Magni est et, nemo eius officia, enim, consequatur animi deleniti excepturi quis qui
                        sequi voluptatem ex!
                    </p>
                </div>
                <div class="actions">
                    <button type="button" class="comp word-button btn alt">
                        <span class="action" id="action-name">
                            reset
                        </span>
                        <span class="arrow">&lt;</span>
                    </button>
                    <button type="button" class="comp word-button btn">
                        <span class="action" id="action-name">
                            save
                        </span>
                        <span class="arrow">&gt;</span>
                    </button>
                </div>
            </section>
        </div>
    </div>
    <script type="module">
        import Finestra from './window.js';

        const btn_expandable = document.querySelector('#expandable');
        const btn_unexpandable = document.querySelector('#unexpandable');
        const btn_unexpandable_action = document.querySelector('#unexpandable-action');
        const btn_expandable_action = document.querySelector('#expandable-action');
        const btn_action = document.querySelector('#action');
        const box = document.querySelector('.box');
        const component_2 = document.querySelector('.window-component.type-2');
        const component_3 = document.querySelector('.window-component.type-3');
        const btn_title_2 = component_2.querySelector('.title');
        const btn_title_3 = component_3.querySelector('.title');

        if (btn_unexpandable) {
            btn_unexpandable.addEventListener('click', () => {
                const unexpandableWindow = Finestra({
                    windowTitle: 'Another',
                    titleButtonText: 'close'
                });

                unexpandableWindow.render(box);
            });
        };

        if (btn_expandable) {
            btn_expandable.addEventListener('click', () => {
                const expandableWindow = Finestra({
                    isExpandable: true,
                    windowTitle: 'Nigger',
                    titleButtonText: 'close'
                });

                expandableWindow.render(box);
            });
        };

        if (btn_unexpandable_action) {
            btn_unexpandable_action.addEventListener('click', () => {
                const unexpandableActionWindow = Finestra({
                    hasActions: true,
                    windowTitle: 'Nigger',
                    titleButtonText: 'close'
                });

                unexpandableActionWindow.render(box);
            });
        };

        if (btn_expandable_action) {
            btn_expandable_action.addEventListener('click', () => {
                const expandableActionWindow = Finestra({
                    isExpandable: true,
                    hasActions: true,
                    windowTitle: 'Nigger',
                    titleButtonText: 'close'
                });

                expandableActionWindow.render(box);
            });
        };

        if (btn_title_2) {
            btn_title_2.addEventListener('click', () => {
                const span_action_text = btn_title_2.querySelector('.action-text');
                const span_action_icon = btn_title_2.querySelector('.action-icon');
                const section_content = component_2.querySelector('#content');

                if (span_action_text) {
                    span_action_text.classList.toggle('show');
                };

                if (span_action_icon) {
                    span_action_icon.classList.toggle('hide');
                };

                if (section_content) {
                    section_content.classList.toggle('show');
                };
            });
        };

        if (btn_title_3) {
            btn_title_3.addEventListener('click', () => {
                const span_action_text = btn_title_3.querySelector('.action-text');
                const span_action_icon = btn_title_3.querySelector('.action-icon');
                const section_content = component_3.querySelector('#content');

                if (span_action_text) {
                    span_action_text.classList.toggle('show');
                };

                if (span_action_icon) {
                    span_action_icon.classList.toggle('hide');
                };

                if (section_content) {
                    section_content.classList.toggle('show');
                };
            });
        };
    </script>
</body>

</html>