<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="userbox.css">
    <title>User Box</title>
</head>
<body style="height: 100dvh; display: flex; gap: 30px; align-items: center; justify-content: center;">
    <section class="misc comp userbox" id="user-profile">
        <div id="user-block">
            <p id="user-info">
                <span id="username">poufsadev</span> | lv<span id="level">1</span>
            </p>
        </div>
        <div id="level-bar-block">
            <div id="level-bar"></div>
            <p id="experience">
                <span id="current-experience">0</span>/<span id="required-experiece">20</span>xp
            </p>
        </div>
    </section>
    <section class="misc comp userbox boxed" id="user-profile">
        <div id="user-block">
            <p id="user-info">
                <span id="username">poufsadev</span> | lv<span id="level">1</span>
            </p>
        </div>
        <div id="level-bar-block">
            <div id="level-bar"></div>
            <p id="experience">
                <span id="current-experience">0</span>/<span id="required-experiece">20</span>xp
            </p>
        </div>
    </section>
</body>
</html>