.comp.main-interface {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition-property: transform, opacity;
    transition-duration: var(--trans-n);
    transition-delay: 0.05s, 0s;
    opacity: 1;
}

.comp.main-interface.animate-leave {
    transform: translateY(-100%);
    position: absolute;
    opacity: 0;
}

.comp.main-interface.entering {
    transform: translateY(100%);
    transition-delay: 0s;
}

.comp.main-interface.entering.animate-enter {
    transform: translateY(0%);
}

.comp.main-interface .return-wrapper button {
    background-color: transparent;
    border: 0;
    color: var(--black);
    margin: 0 10px;
    transition: var(--trans-q);
}

.comp.main-interface .return-wrapper button:disabled {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.comp.main-interface .top {
    margin: 0 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.comp.main-interface .title-wrapper {
    display: flex;
    gap: 7px;
    align-items: baseline;
}

.comp.main-interface .title-wrapper #title,
.comp.main-interface .title-wrapper #count {
    display: inline-block;
}

.comp.main-interface #title {
    color: var(--black);
    font-size: var(--fn-msv);
}

.comp.main-interface .title-wrapper #count {
    font-size: var(--xlr);
    opacity: 0.5;
}

.comp.main-interface #description {
    border-bottom: 2px solid var(--black);
    font-size: var(--fn-xlr);
    margin: 0 10px;
    padding-bottom: 7px;
}

.comp.main-interface #sub-section {
    border-bottom: 2px solid var(--black);
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp.main-interface #sub-section .actions {
    display: flex;
    gap: 30px;
    align-items: center;
}

.comp.main-interface #sub-section .action {
    background-color: transparent;
    border: 0;
    color: var(--black);
    font-size: var(--fn-xlr);
    opacity: 0.5;
    transition: var(--trans-q);
}

.comp.main-interface #sub-section .action:hover, 
.comp.main-interface #sub-section .action.selected {
    opacity: 1;
}

.comp.main-interface #content {
    flex-grow: 1;
    padding: 10px 10px 120px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-x: clip;
    overflow-y: auto;
}