<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="type-stats.css">
    <script type="module" src="type-stats.js"></script>
    <title>type-stats</title>
</head>

<body style="position: relative; height: 100dvh;">
    <div class="comp type-stats">
        <p id="stickies">
            stickies | <span class="count">0</span>
        </p>
        <p id="todos">
            todos | <span class="count">7</span>
        </p>
        <p id="projects">
            projects | <span class="count">0</span>
        </p>
    </div>
</body>

</html>