<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../../Buttons/ButtonStyle.css">
    <link rel="stylesheet" href="./FormTerminal.css">
    <title>Terminal Form</title>
</head>

<body>
    <!-- TEMPLATE -->
    <!-- NEW FORM -->
    <!-- <div class="component form terminal action">
        <div class="terminal-wrapper">
            <p class="text" id="status">
                Status: <span id="message">Waiting for input...</span>
            </p>
            <div id="tip-message">
                <p class="text" id="title-tip">
                    Welcome!
                </p>
                <p id="desc-tip">
                    These are default settings when creating a new account.
                </p>
            </div>
            <form action="#">
                <div class="input-block" id="username-block">
                    <div class="input-hint">
                        <p class="hint-text">Username</p>
                        <div class="hint-error show">| <span>Error Message!</span></div>
                    </div>
                    <label for="username">
                        <span>>></span>
                        <input class="text" type="text" name="" id="username">
                    </label>
                </div>
                <div class="input-block" id="password-block">
                    <div class="input-hint">
                        <p class="hint-text">Password</p>
                        <button class="button reset" type="button" id="hide-pass">&lt;/&gt;</button>
                        <div class="hint-error">| <span>Error Message!</span></div>
                    </div>
                    <label for="password">
                        <span>>></span>
                        <input class="text" type="password" name="" id="password">
                    </label>
                </div>
                <div class="input-block" id="conpass-block">
                    <div class="input-hint">
                        <p class="hint-text">Confirm Password</p>
                        <button class="button reset" type="button" id="hide-conpass">&lt;/&gt;</button>
                        <div class="hint-error">| <span>Error Message!</span></div>
                    </div>
                    <label for="conpass">
                        <span>>></span>
                        <input class="text" type="password" name="" id="conpass">
                    </label>
                </div>
            </form>
            <div id="actions">
                <button type="button" class="button" id="reset">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 8H5V3M5.29102 16.3569C6.22284 17.7918 7.59014 18.8902 9.19218 19.4907C10.7942 20.0913 12.547 20.1624 14.1925 19.6937C15.8379 19.225 17.2893 18.2413 18.3344 16.8867C19.3795 15.5321 19.963 13.878 19.9989 12.1675C20.0347 10.4569 19.5211 8.78001 18.5337 7.38281C17.5462 5.98561 16.1366 4.942 14.5122 4.40479C12.8878 3.86757 11.1341 3.86499 9.5083 4.39795C7.88252 4.93091 6.47059 5.97095 5.47949 7.36556"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="confirm">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 12L8.94975 16.9497L19.5572 6.34326" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="cancel">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div> -->
    <!-- LOAD FORM -->
    <!-- <div class="component form terminal action">
        <div class="terminal-wrapper">
            <p class="text" id="status">
                Status: <span id="message">Waiting for input...</span>
            </p>
            <div id="tip-message">
                <p class="text" id="title-tip">
                    Welcome!
                </p>
                <p id="desc-tip">
                    These are default settings when creating a new account.
                </p>
            </div>
            <form action="#">
                <div class="account-block">
                    <button class="button reset text account-info">
                        <span>longahhusername</span> | <span>lv1</span> | <span>due today: 0</span>
                    </button>
                </div>
            </form>
            <div id="actions">
                <button type="button" class="button" id="reset">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 8H5V3M5.29102 16.3569C6.22284 17.7918 7.59014 18.8902 9.19218 19.4907C10.7942 20.0913 12.547 20.1624 14.1925 19.6937C15.8379 19.225 17.2893 18.2413 18.3344 16.8867C19.3795 15.5321 19.963 13.878 19.9989 12.1675C20.0347 10.4569 19.5211 8.78001 18.5337 7.38281C17.5462 5.98561 16.1366 4.942 14.5122 4.40479C12.8878 3.86757 11.1341 3.86499 9.5083 4.39795C7.88252 4.93091 6.47059 5.97095 5.47949 7.36556"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="confirm">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 12L8.94975 16.9497L19.5572 6.34326" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="cancel">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div> -->
    <!-- LOAD FORM -->
    <div class="component form terminal action login">
        <div class="terminal-wrapper">
            <p class="text" id="status">
                Status: <span id="message">Waiting for input...</span>
            </p>
            <div id="tip-message">
                <p id="title-tip">
                    Welcome,
                </p>
                <p class="text" id="desc-tip">
                    Jeff!
                </p>
            </div>
            <form action="#">
                <div class="input-block" id="password-block">
                    <div class="input-hint">
                        <p class="hint-text">Please enter your password</p>
                        <button class="button reset" type="button" id="hide-pass">&lt;/&gt;</button>
                        <div class="hint-error">| <span>Error Message!</span></div>
                    </div>
                    <label for="password">
                        <span>>></span>
                        <input class="text" type="password" name="" id="password">
                    </label>
                </div>
            </form>
            <div id="actions">
                <button type="button" class="button" id="reset">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 8H5V3M5.29102 16.3569C6.22284 17.7918 7.59014 18.8902 9.19218 19.4907C10.7942 20.0913 12.547 20.1624 14.1925 19.6937C15.8379 19.225 17.2893 18.2413 18.3344 16.8867C19.3795 15.5321 19.963 13.878 19.9989 12.1675C20.0347 10.4569 19.5211 8.78001 18.5337 7.38281C17.5462 5.98561 16.1366 4.942 14.5122 4.40479C12.8878 3.86757 11.1341 3.86499 9.5083 4.39795C7.88252 4.93091 6.47059 5.97095 5.47949 7.36556"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="confirm">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 12L8.94975 16.9497L19.5572 6.34326" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="cancel">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- SETTINGS FORM -->
    <!-- <div class="component form terminal action">
        <div class="terminal-wrapper">
            <p class="text" id="status">
                Status: <span id="message">Waiting for input...</span>
            </p>
            <div id="tip-message">
                <p class="text" id="title-tip">
                    Welcome!
                </p>
                <p id="desc-tip">
                    These are default settings when creating a new account.
                </p>
            </div>
            <form action="#">
                <div class="setting-block" id="dark-mode-block">
                    <input type="checkbox" name="" id="dark-mode">
                    <p class="text message">Dark Mode:</p>
                    <button type="button" class="button reset text option">[no]</button>
                </div>
                <div class="setting-block" id="click-block">
                    <input type="checkbox" name="" id="click-sound">
                    <p class="text message">Click sounds:</p>
                    <button type="button" class="button reset text option">[yes]</button>
                </div>
                <div class="setting-block" id="hover-block">
                    <input type="checkbox" name="" id="hover-sound">
                    <p class="text message">Hover sounds:</p>
                    <button type="button" class="button reset text option">[yes]</button>
                </div>
                <div class="setting-block" id="ambient-block">
                    <input type="checkbox" name="" id="ambient-sound">
                    <p class="text message">Ambient sounds:</p>
                    <button type="button" class="button reset text option">[yes]</button>
                </div>
            </form>
            <div id="actions">
                <button type="button" class="button" id="reset">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 8H5V3M5.29102 16.3569C6.22284 17.7918 7.59014 18.8902 9.19218 19.4907C10.7942 20.0913 12.547 20.1624 14.1925 19.6937C15.8379 19.225 17.2893 18.2413 18.3344 16.8867C19.3795 15.5321 19.963 13.878 19.9989 12.1675C20.0347 10.4569 19.5211 8.78001 18.5337 7.38281C17.5462 5.98561 16.1366 4.942 14.5122 4.40479C12.8878 3.86757 11.1341 3.86499 9.5083 4.39795C7.88252 4.93091 6.47059 5.97095 5.47949 7.36556"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="confirm">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 12L8.94975 16.9497L19.5572 6.34326" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="button" id="cancel">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div> -->
    <!-- TEMPLATE -->

    <!-- IN CASE OF ERROR
    REMOVE THE CSS IMPORT IN ./FormTerminal.js    
    -->
    <div class="functions">
        <button type="button" id="state">Change State</button>
    </div>

    <script type="module">
        import FormTerminal from './FormTerminal.js';

        const body = document.body;
        const terminal = FormTerminal();
        terminal.render(body);

        const functions = body.querySelector('.functions');
        const btn_terminalState = functions.querySelector('#state');

        btn_terminalState.addEventListener('click', (e) => {
            terminal.stateDefault();
        });
    </script>
</body>

<style>
    .functions {
        display: flex;
    }
</style>

</html>