.word-button {
    background-color: transparent;
    border: 0;
    position: relative;
    outline: none;
}

.word-button .arrow {
    transform: translate(50%, -50%);
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: calc(100% + 10px);
    transition: var(--trans-q);
}

.word-button.alt .arrow {
    transform: translate(-50%, -50%);
    left: calc(100% + 10px);
}

.word-button:not(.clicked):focus .arrow,
.word-button:not(.clicked):hover .arrow,
.word-button:not(.clicked).selected .arrow {
    opacity: 1;
    animation: arrow_blink 1s infinite 1s;
}

.word-button.clicked .arrow {
    opacity: 1;
}

@keyframes arrow_blink {
    0%, 50% {
        opacity: 1;
        visibility: visible;
    } 51%, 100% {
        opacity: 0;
        visibility: hidden;
    }
}