#page__auth {
    height: 100dvh;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#page__auth .gate {
    --thickness: 2px;
    --padding-size: 30px;

    background-color: var(--background-color);
    width: 100%;
    height: 50%;
    position: relative;
}

#page__auth #top-gate {
    border-bottom: var(--thickness) solid black;
    padding: var(--padding-size) var(--padding-size) 0;
}

#page__auth #bottom-gate {
    border-top: var(--thickness) solid black;
    padding: 0 var(--padding-size) var(--padding-size);
}

#page__auth #top-gate .squares {
    display: flex;
    gap: 10px;
}

#page__auth #top-gate .squares .square {
    aspect-ratio: 1;
    background-color: var(--black);
    height: 40px;
}

#page__auth #top-gate #web-title {
    position: absolute;
    bottom: 0;
    left: 27%;
    transform: translateX(-50%);
}

#page__auth #bottom-gate .features {
    width: 100dvw;
    padding-left: 0;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: var(--padding-size);
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

#page__auth #bottom-gate .features .feature-list {
    padding-left: 0;
    display: inline-block;
    list-style: none;
}

#page__auth #bottom-gate .features .feature-list .feature {
    cursor: default;
    width: max-content;
    padding-left: 0;
    padding-right: 60px;
    display: inline-block;
    opacity: 0.7;
}

@media screen and (min-width: 721px) {
    #page__auth #bottom-gate .features .feature-list .feature:last-of-type {
        padding-right: 0;
    }

    #page__auth #bottom-gate .features #original {
        width: 100%;
    }

    #page__auth #bottom-gate .features #alt {
        display: none;
    }
}

#page__auth #bottom-gate .actions {
    width: 0px;
    position: absolute;
    left: calc(27% - 98px);
    transform: translateX(-50%);
}

#page__auth .component.terminal {
    position: absolute;
    top: 50%;
    left: calc(60%);
    transform: translateY(-50%) translateX(-100px);
}

/* ANIMATIONS */
@keyframes slider {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}