<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaToDo! - Authentification</title>
</head>
<body id="page_auth">
    <div class="gate" id="top">
        <div id="boxes">
            <div class="design-box" id="box-1"></div>
            <div class="design-box" id="box-2"></div>
        </div>
    </div>
    <div class="gate cursor-default select-none" id="bottom">
        <div id="features">
            <p class="feature">
                projects
            </p>
            <p class="feature">
                tasks
            </p>
            <p class="feature">
                notes
            </p>
            <p class="feature">
                due dates
            </p>
            <p class="feature">
                collectibles
            </p>
        </div>
    </div>
    <div id="start">
        <p class="cursor-default select-none" id="title">
            watodo!
        </p>
        <div id="action">
            
        </div>
    </div>
</body>
</html>