<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaToDo - Authentication</title>
</head>
<body>
    <div id="page__auth">
        <div class="gate" id="top-gate">
            <div class="squares">
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <p class="title" id="web-title">watodo!</p>
        </div>
        <div class="gate" id="bottom-gate">
            <div class="actions">
                
            </div>
        </div>
    </div>
</body>
</html>