#page__auth {
    height: 100dvh;
    min-height: 720px;
    display: flex;
    flex-direction: column;
}

#page__auth .gate {
    --thickness: 2px;
    --padding-size: 30px;

    background-color: var(--background-color);
    width: 100%;
    height: 50%;
    position: relative;
}

#page__auth #top-gate {
    border-bottom: var(--thickness) solid black;
    padding: var(--padding-size) var(--padding-size) 0;
}

#page__auth #bottom-gate {
    border-top: var(--thickness) solid black;
    padding: 0 var(--padding-size) var(--padding-size);
}

#page__auth #top-gate .squares {
    display: flex;
    gap: 10px;
}

#page__auth #top-gate .squares .square {
    aspect-ratio: 1;
    background-color: var(--black);
    height: 40px;
}

#page__auth #top-gate #web-title {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
}

#page__auth #bottom-gate .actions {
    width: 0px;
    position: absolute;
    left: calc(20% - 98px);
    transform: translateX(-50%);
}