<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../ButtonStyle.css">
    <link rel="stylesheet" href="./ButtonVideoGame.css">
    <title>Video Game Button</title>
</head>
<body>
    <button class="component button reset video-game">
        <span class="arrow-wrapper">
            <span class="arrows">>>></span>
        </span>
        <span class="text">Button Text</span>
    </button>
</body>
</html>