<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../../buttons/word-button/word-button.css">
    <link rel="stylesheet" href="../window.css">
    <link rel="stylesheet" href="../../input-block/input-block.css">
    <link rel="stylesheet" href="./basic-settings.css">
    <title>Basic Settings</title>
</head>
<body style="height: 100dvh; display: flex; gap: 50px; align-items: center; justify-content: center;">
    <!-- <article class="comp basic-settings">
        <div class="block select-none" id="dark-mode">
            <label for="set-dm" class="text btn">Dark mode(y/n):</label>
            <input type="text" id="set-dm" value="y">
        </div>
        <div class="block select-none" id="sounds">
            <label for="set-sn" class="text btn">Sounds(y/n):</label>
            <input type="text" id="set-sn" value="y">
            <div class="sub">
                <div class="block select-none" id="background">
                    <label for="set-bg" class="text btn">Background(y/n):</label>
                    <input type="text" id="set-bg" value="y">
                </div>
                <div class="block select-none" id="keyboard">
                    <label for="set-kb" class="text btn">Keyboard(y/n):</label>
                    <input type="text" id="set-kb" value="y">
                </div>
                <div class="block select-none" id="click">
                    <label for="set-cl" class="text btn">Click(y/n):</label>
                    <input type="text" id="set-cl" value="y">
                </div>
            </div>
        </div>
    </article> -->
    <script defer type="module">
        import BasicSettings from './basic-settings.js'

        const body = document.body;

        BasicSettings.render(body);
    </script>
</body>
</html>