<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../buttons/simple-button/simple-button.css">
    <link rel="stylesheet" href="auth-interface.css">
    <script defer type="module" src="dom.js"></script>
    <title>Auth Interface</title>
</head>
<body style="display: flex; flex-direction: column; gap:50px; align-items: center; justify-content: center; height: 100dvh;">
    <!-- <section class="comp auth-interface">
        <div id="upper">
            <div id="actions">
                
            </div>
            <div id="socmed">
                <p id="author">poufsadev</p>
            </div>
        </div>
        <div id="lower">
            <p id="status-msg">
                Status: <span id="status">Waiting input</span>...
            </p>
            <p id="tip-msg">
                <span class="tip" id="tip-1">- ctrl + q to cancel/back</span>
                <span class="tip" id="tip-2">- ctrl + r to reset</span>
                <span class="tip" id="tip-3">- enter to proceed/confirm</span>
            </p>
        </div>
    </section> -->
</body>
</html>