.auth-interface>#upper {
    display: flex;
    align-items: center;
}

.auth-interface>#upper>div {
    flex-basis: 50%;

    display: flex;
    gap: var(--gap-3);
    align-items: center;
}

.auth-interface>#upper>#socmed {
    justify-content: right;
}

.auth-interface>#upper>#socmed>a>svg {
    aspect-ratio: 1;
    height: 25px;
    width: 25px;
}

.auth-interface>#lower {
    background-color: var(--secondary-color);
    border: 5px solid var(--black);
    box-shadow: 
        inset 0 3px 5px 2px rgba(0, 0, 0, 0.25),
        inset 3px 0 5px 2px rgba(0, 0, 0, 0.25),
        inset -3px 0 5px 2px rgba(0, 0, 0, 0.25);
    height: 700px;
    width: 600px;
    padding: var(--gap-5);
}

.auth-interface>#lower>#status-msg {
    font-size: var(--fn-xxlr);
}

.auth-interface>#lower>#tip-msg {
    margin-bottom: calc(var(--gap-5) * 2);
    display: flex;
    flex-direction: column;
    opacity: 0.5;
}

.auth-interface>#lower .input-block {
    font-size: var(--fn-xxlr);
    margin-bottom: var(--gap-3);
}

.auth-interface>#lower .input-block>label {
    cursor: pointer;
}

.auth-interface>#lower .input-block button.visibility {
    background-color: transparent;
    border: 0;
}

.auth-interface>#lower .input-block button.visibility>#slash {
    height: 100%;
    transition: var(--trans-q);
}

.auth-interface>#lower .input-block button.visibility:hover>#slash {
    opacity: 0.2;
}

.auth-interface>#lower .input-block>.input-box
{
    display: flex;
    gap: var(--gap-3);
    align-items: center;
}

.auth-interface>#lower .input-block>.input-box>input {
    background-color: transparent;
    border: 0;
    width: 100%;
    outline: 0;
}

.auth-interface>#lower .input-block>#block-tip{
    font-size: var(--fn-lr);
    opacity: 0.5;
}

.auth-interface>#lower .input-block>.input-box>input::selection {
    background-color: var(--black);
    color: var(--secondary-color);
}

.auth-interface>#lower .account-block {
    border-left: 0px solid transparent;
    font-size: var(--fn-xxlr);
    margin-bottom: var(--gap-5);
    padding-bottom: 8px;
    padding-left: 0px;
    transition: var(--trans-q);
}

.auth-interface>#lower .account-block:hover {
    border-left: 5px solid var(--black);
    padding-left: 10px;
}

.auth-interface>#lower .account-block:focus {
    outline: 0;
}

.auth-interface>#lower .account-block.clicked {
    border-left: 5px solid var(--black);
    padding-left: 10px;
}

.auth-interface>#lower .setting-block {
    margin-bottom: var(--fn-xxlr);
}

.auth-interface>#lower .setting-block label {
    font-size: var(--fn-xxlr);
}

.auth-interface>#lower .setting-block label>input {
    background-color: transparent;
    border: 0;
    text-align: center;
    width: 2ch;
    outline: 0;
}

.auth-interface>#lower .setting-block:last-of-type.off>.sound-block {
    cursor: not-allowed;
    opacity: 0.5;
}

.auth-interface>#lower .setting-block:last-of-type.off>.sound-block * {
    cursor: not-allowed;
}

.auth-interface>#lower .setting-block:last-of-type.off>.sound-block input:disabled {
    color: black
}