.input-block label {
    display: flex;
    align-items: baseline;
    user-select: none;
}

.input-block label .optional,
.input-block label .required,
.input-block .hint {
    font-size: var(--fn-sm);
    opacity: 0.5;
    text-transform: lowercase;
    user-select: none;
}

.input-block label .required {
    display: none;
}

.input-block label .required.show {
    color: red;
    display: block;
    opacity: 0.75;
}

.input-block .hint.hidden {
    display: none;
}

.input-block .hint .button-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-block .input-wrapper {
    display: flex;
    gap: 5px;
}

.input-block.time-liner .time-format {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.input-block.time-liner .time-format input {
    border-bottom: 1px solid var(--black);
    caret-color: transparent;
    width: 1.1ch;
    padding: 0;
    overflow: hidden;
}

.input-block.time-liner .time-format input::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

.input-block.time-liner .time-format input:focus::placeholder {
    color: var(--secondary-color); /* CHANGE LATER */
    opacity: 0.2;
}

/* For Chrome, Safari, Edge */
.input-block.time-liner .time-format input[type=number]::-webkit-inner-spin-button,
.input-block.time-liner .time-format input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.input-block.time-liner .time-format input[type=number] {
  -moz-appearance: textfield;
}

.input-block.time-liner .time-format #meridian {
    border-bottom: 1px solid var(--black);
    width: 100%;
}

.input-block.time-liner .time-format input:focus {
    background-color: var(--black);
    color: var(--secondary-color); /* CHANGE LATER */
    animation: input_blink 1s infinite;
}

.input-block.time-liner .time-format #meridian.clicked {
    background-color: var(--black);
}

.input-block .input-wrapper input,
.input-block .input-wrapper textarea {
    flex-grow: 1;

    background-color: transparent;
    border: 0;
    outline: none;
}

.input-block .input-wrapper input:focus::placeholder,
.input-block .input-wrapper textarea:focus::placeholder {
    color: transparent;
}

.input-block .input-wrapper textarea {
    resize: none;
    overflow: hidden;
    height: max-content;
}

.input-block .input-wrapper input::selection,
.input-block .input-wrapper textarea::selection {
    background-color: var(--black);
    color: var(--bg-color);
}

.input-block .input-wrapper:has(input:focus) .arrow,
.input-block .input-wrapper:has(textarea:focus) .arrow {
    animation: arrow_blink 1s infinite;
}

.input-block .input-wrapper:has(input:focus) .arrow.typing,
.input-block .input-wrapper:has(textarea:focus) .arrow.typing,
.input-block .input-wrapper .arrow.stagnant {
    animation: none;
}

@keyframes arrow_blink {
    0%, 50% {
        opacity: 1;
        visibility: visible;
    } 51%, 100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes input_blink {
    0%, 50% {
        border-bottom: 1px solid var(--black);
    } 51%, 100% {
        border-bottom: 1px solid transparent;
    }
}