<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/css-reset-jc.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="message-box.css">
    <link rel="stylesheet" href="../buttons/word-button/word-button.css">
    <script src="test.js" defer></script>
    <title>Message Box</title>
</head>

<body style="display: flex; align-items: center; justify-content: center; height: 100dvh;">
    <div id="box" style="width: 70dvh; height: 60dvh; border: 2px solid black; position: relative; overflow: hidden">
        <div class="comp message-box confirm select-none">
            <div id="title-bar">
                <p id="title">adusfhka ahsf,adgfba ask,</p>
                <div id="actions">
                    <button type="button" class="comp word-button btn">
                        <span class="arrow">&gt;</span>
                        <span class="action" id="action-name">
                            close
                        </span>
                    </button>
                </div>
            </div>
            <div id="window">
                <p class="cursor-default" id="message">
                    > <span id="text">Message will be shown here</span>
                </p>
                <div id="actions">
                    <button type="button" class="comp word-button btn alt">
                        <span class="action" id="action-name">
                            confirm
                        </span>
                        <span class="arrow">&lt;</span>
                    </button>
                    <button type="button" class="comp word-button btn alt">
                        <span class="action" id="action-name">
                            cancel
                        </span>
                        <span class="arrow">&lt;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>