<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/css-reset-jc.css">
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="./simple-button.css">
    <script type="module" src="./dom.js" defer></script>
    <title>Button</title>
</head>

<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100dvh;">
    <!-- <button type="button" class="comp btn simple-button">
        <div class="arrow">
            <span>></span>
        </div>
        <p class="text">Button</p>
    </button> -->
    <!-- <label role="button" class="comp btn simple-button group">
        <input type="radio" name="start" id="">
        <div class="arrow">
            <span>></span>
        </div>
        <p class="text">Button</p>
    </label> -->
</body>

</html>