.simple-button {
    background-color: transparent;
    border: 0;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: left;
}

.simple-button>.arrow {
    flex-shrink: 1;

    width: 0%;
    max-width: max-content;
    padding-right: 0px;
    display: flex;
    transition: var(--trans-q); /* remove for later */
    overflow: hidden;
}

.simple-button>.text {
    flex: 0 0 auto;

    width: max-content;
}

.simple-button.clicked>.arrow {
    padding-right: 10px;
    width: 100%;
}

.simple-button:hover>.arrow {
    padding-right: 10px;
    width: 100%;
}