@import '../button.css';

.simple-button {
    background-color: transparent;
    border: 0;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-button>.arrow {
    width: 0%;
    margin-right: 0px;
    display: flex;
    transition: 0.2s; /* remove for later */
    overflow: hidden;
}

.simple-button.group>input[type="radio"] {
    position: absolute;
    display: none;
}

.simple-button.clicked>.arrow {
    margin-right: 10px;
    width: 100%;
}

.simple-button:hover>.arrow {
    margin-right: 10px;
    width: 100%;
}

.simple-button.group:has(input[type="radio"]:checked)>.arrow {
    margin-right: 10px;
    width: 100%;
}