<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="todo-bar.css">
    <title>Todo Bar</title>
</head>
<body style="height: 100dvh; width: 100dvw; padding: 0 500px; display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
    <article class="comp todo-bar select-none">
        <div class="info-wrapper">
            <div class="check-container">
                <input type="checkbox" id="checkox">
                <div class="custom-checkbox">
    
                </div>
            </div>
            <div class="mid-container">
                <div class="todo-container">
                    <p id="name">make a coffee</p>
                </div>
                <button type="button" class="folder-container btn">
                    project: <span id="project">cool project</span>
                </button>
            </div>
            <div class="time-container">
                <span class="" id="due-date">
                    06:40pm
                </span>
                <span id="due-message">&gt; Due soon!</span>
            </div>
        </div>
    </article>
    <article class="comp todo-bar select-none">
        <div class="info-wrapper">
            <div class="check-container">
                <input type="checkbox" id="checkox">
                <div class="custom-checkbox">
    
                </div>
            </div>
            <div class="mid-container">
                <div class="todo-container">
                    <p id="name">make a coffee</p>
                </div>
                <div class="folder-container">
                    in project <span id="project">cool project</span>
                </div>
            </div>
            <div class="time-container">
                06:40pm
            </div>
        </div>
    </article>
</body>
</html>