<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="todo-bar.css">
    <title>Todo Bar</title>
</head>
<body style="height: 100dvh; width: 100dvw; padding: 0 500px; display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
    <article class="comp todo-bar select-none">
        <div class="info-wrapper">
            <div class="check-container">
                <input type="checkbox" id="checkox">
                <div class="custom-checkbox">
                    <?xml version="1.0" ?><svg height="15px" version="1.1" viewBox="0 0 18 15" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-423.000000, -47.000000)"><g id="check" transform="translate(423.000000, 47.500000)"><path d="M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z" id="Shape"/></g></g></g></svg>
                    <div id="hint-wrapper">
                        <div id="hint">
                            <p id="message">
                                &gt; Completed!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mid-container">
                <div class="todo-container">
                    <p id="name">make a coffee</p>
                </div>
                <button type="button" class="folder-container btn">
                    project: <span id="project">cool project</span>
                </button>
            </div>
            <div class="time-container">
                <span class="" id="due-date">
                    06:40pm
                </span>
                <span id="due-message">&gt; Due soon!</span>
            </div>
        </div>
    </article>
    <article class="comp todo-bar select-none">
        <div class="info-wrapper">
            <div class="check-container">
                <input type="checkbox" id="checkox">
                <div class="custom-checkbox">
    
                </div>
            </div>
            <div class="mid-container">
                <div class="todo-container">
                    <p id="name">make a coffee</p>
                </div>
                <div class="folder-container">
                    in project <span id="project">cool project</span>
                </div>
            </div>
            <div class="time-container">
                06:40pm
            </div>
        </div>
    </article>
</body>
</html>