<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note</title>
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../../buttons/word-button/word-button.css">
    <link rel="stylesheet" href="../window.css">
    <link rel="stylesheet" href="../../input-block/input-block.css">
    <link rel="stylesheet" href="create-note.css">
</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100dvh;">
    <script type="module" defer>
        import CreateNote from './create-note.js';

        CreateNote.render(document.body);
        // CreateTodo.disable();
    </script>
</body>
</html>